---
const items = [
    {
        img: "/video-publicitaire-nos-réalisations/auto-hamid.webp",
        name: "Auto hamid larache",
        url: "https://www.facebook.com/reel/2615905811935303",
        desc:"Vidéo pour une entreprise de vente de voitures"
    },
    {
        img: "/video-publicitaire-nos-réalisations/baraka.webp",
        name: "Kasr al baraka",
        url: "https://www.facebook.com/reel/483578264461115",
        desc:"Vidéo pour un hôtel"
    },
    {
        img: "/video-publicitaire-nos-réalisations/grander-berry.webp",
        name: "Grander berry",
        url: "https://www.youtube.com/watch?v=eiRaI1UxT58",
        desc:"Vidéo pour un café"
    },
    {
        img: "/video-publicitaire-nos-réalisations/green-land.webp",
        name: "Green Land Larache",
        url: "https://www.facebook.com/reel/1743155456206139",
        desc:"Vidéo pour une entreprise d’exportation de fruits"
    },
    {
        img: "/video-publicitaire-nos-réalisations/moulay.webp",
        name: "Immobilier Moulay bousslham",
        url: "https://www.youtube.com/watch?v=m5A1xviDP98",
        desc:"Vidéo pour un centre de formation en soins infirmiers"
    },

    {
        img: "/video-publicitaire-nos-réalisations/uk-cafe.webp",
        name: "Uk cafe",
        url: "https://www.facebook.com/reel/1659695201318779",
        desc:""
    },
];
---

<link
    rel="preload"
    href="/assets/styles/sections/video-publicitaire-slider.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript
    ><link
        rel="stylesheet"
        href="/assets/styles/sections/video-publicitaire-slider.css"
    /></noscript
>

<section class="steps section our-features">
    <!-- Section Title -->
    <div class="service-header">
        <div class="container">
            <h2 style="font-weight: 600;">Nos réalisations chez Brosmedia</h2>
        </div>
    </div>

    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            {
                items.map((item) => (
                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img
                                src={item.img}
                                alt={`${item.name} - Brosmedia`}
                            />
                        </div>
                        <div class="blog-slider__content">
                            {/* <span class="blog-slider__code">26 December 2019</span> */}
                            <div class="blog-slider__title">{item.name}</div>
                            <div class="blog-slider__text">
                                {item.desc}
                            </div>
                            <a
                                href={item.url}
                                target="_blank"
                                class="blog-slider__button"
                            >
                                Regarder la vidéo
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
        <div class="blog-slider__pagination"></div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var swiper = new Swiper(".blog-slider", {
            spaceBetween: 30,
            effect: "fade",
            loop: true,
            mousewheel: {
                invert: false,
            },
            // autoHeight: true,
            pagination: {
                el: ".blog-slider__pagination",
                clickable: true,
            },
        });
    });
</script>
